@using DTNL.UmbracoCms.Web.Helpers.Aliases
@model DTNL.UmbracoCms.Web.Components.JobListingItem

<a class="c-job-listing-item" href="@Model.Url" aria-label="@Model.Title" js-hook-job-listing-item>
    <span class="job-listing-item__title" js-hook-job-listing-title>@Model.Title</span>

    <div class="job-listing-item__right-container">
        <span class="job-listing-item__location" asp-if="@Model.Location" js-hook-job-listing-location>@Model.Location</span>

        <div class="job-listing-item__tags-container">
            @for (int i = 0; i< Model.Tags.Count(); i++)
            {
                string tag = Model.Tags[i];
                <span class="job-listing-item__tag job-listing-item__tag--text" @(i == 0 ? "js-hook-job-listing-seniority" : "js-hook-job-listing-employment")>@tag</span>
            }
            <span class="job-listing-item__tag job-listing-item__tag--icon">
                <svg src="@SvgAliases.Icons.ArrowTopRight" />
            </span>
        </div>
    </div>
</a>
