@using DTNL.UmbracoCms.Web.Helpers.Aliases
@model DTNL.UmbracoCms.Web.Components.JobListingItem

<a class="c-job-listing-item" href="@Model.Url" aria-label="@Model.Title">
    <span class="job-listing-item__title">@Model.Title</span>

    <div class="job-listing-item__right-container">
        <span class="job-listing-item__location" asp-if="@Model.Country">@Model.Country</span>

        <div class="job-listing-item__tags-container">
            @foreach (string tag in Model.Tags)
            {
                <span class="job-listing-item__tag job-listing-item__tag--text">@tag</span>
            }
            <span class="job-listing-item__tag job-listing-item__tag--icon">
                <svg src="@SvgAliases.Icons.ArrowTopRight" />
            </span>
        </div>
    </div>
</a>
