@using DTNL.UmbracoCms.Web.Components
@using Image=DTNL.UmbracoCms.Web.Components.Image;
@using Umbraco.Cms.Core.Models
@model DTNL.UmbracoCms.Web.Components.BannerTextMedia;

<div class="c-text-media
    @(Model.MediaPosition != null ? $"c-text-media--media-position-{Model.MediaPosition}" : "")
    ">
    <div class="text-media__container">
        <div class="text-media__col text-media__col--text">
            <h2 class="text-media__title">@Model.Title</h2>
            <div class="text-media__content">
                @if (Model.Description != null)
                {
                    <p class="text-media__description">@Model.Description</p>
                }
                
                @if (Model.PrimaryButton != null || Model.SecondaryButton != null)
                {
                    <div class="text-media__ctas">
                        @if (Model.PrimaryButton != null)
                        {
                            <partial name="Button" model="@Model.PrimaryButton" class="text-media__cta1" />
                        }
                        @if (Model.SecondaryButton != null)
                        {
                            <partial name="Button" model="@Model.SecondaryButton" class="text-media__cta2" />
                        }
                    </div>
                }

            </div>
        </div>
        <div class="text-media__col text-media__col--media">
            <div class="text-media__image">
                @if (Model.ImageContent != null)
                {
                    <partial name="Image" model="@(Image.Create(Model?.ImageContent?.Image).With(i => {
                            i.ImageStyle = "in-grid-banner-image";
                            i.Video = Model?.Video;
                            i.ObjectFit = true;
                        }))"
                    />
                }
            </div>
        </div>
    </div>
</div>

@if (Model?.Video != null)
{
    <partial name="Modal" model="@(new Modal {Id =  $"modal-video-{Model.Video?.Id}", Size = "video", KeepScrollPosition = true, CloseAllOthers = true })">
        <partial name="Video" model="Model.Video" />
    </partial>
}



