@using DTNL.UmbracoCms.Web.Helpers.Extensions
@model DTNL.UmbracoCms.Web.Components.FormElements.Checkbox

<div class="c-checkbox form__item
        @(Model.Horizontal ? "checkbox--horizontal" : null)
        @(!Model.BottomMargin ? "checkbox--has-no-bottom-margins" : null)
        @(Model.AlignRight ? "checkbox--align-right" : null)
        @(!Model.Type.IsNullOrEmpty() ? $"checkbox--{Model.Type}" : null)
        @(!Model.Class.IsNullOrEmpty() ? Model.Class : null)
        @(Model.Disabled ? "form__item--disabled" : null)">

    <div class="checkbox__wrapper">
        @foreach (var option in Model.Options)
        {
            <input class="checkbox__input u-sr-only"
                   type="checkbox"
                   name="@Model.Name"
                   value="@option.Value"
                   id="@option.Id"
            @(Model.Required ? Html.Attribute("required", "required") : null)
            @(Model.Disabled ? Html.Attribute("disabled", "disabled") : null)
            @(option.Selected ? Html.Attribute("checked", "checked") : null)
            @(!option.Validate.IsNullOrEmpty() ? Html.Attribute("data-validate", option.Validate) : null)
            @Html.Attribute(option.Hook?.EnsureStartsWith("js-hook-"))
            @(Model.Attributes is not null ? Html.Attributes(Model.Attributes) : null)>
            <label class="checkbox__label" for="@option.Id" role="button">
                <span>@option.Label</span>
            </label>
        }
    </div>
    <div id="@(Model.Name)_error" class="form__item-error @(Model.Error.IsNullOrEmpty() ? "u-hidden" : null)">@Model.Error</div>

</div>
