@using DTNL.UmbracoCms.Web.Components
@model DTNL.UmbracoCms.Web.Components.Downloads

<div class="c-text-download">
    <div class="text-download__col text-download__col--text">
        <h2 class="text-download__title" asp-if="@Model.Title">@Model.Title</h2>
        <p class="text-download__description" asp-if="@Model.Description">@Model.Description</p>
    </div>

    <div class="text-download__col text-download__col--download">
        @foreach (DownloadItem item in Model.Items)
        {
            <partial name="Downloads/DownloadItem" model="@item"></partial>
        }
    </div>
</div>
