@model DTNL.UmbracoCms.Web.Components.RichTextComponent

<div class="c-rich-text rich-text--is-closed @(Model.TextSize.IsNullOrWhiteSpace() ? $"c-rich-text--size-{Model.TextSize}" : null) @(!Model.ReadMoreOption ? "read-more-disabled" : null)"
     js-hook-rich-text>
    <div class="rich-text__container" js-hook-rich-text-container >
        <div class="rich-text__content">
            @Html.Raw(Model.Content)
        </div>

        <div class="rich-text__ctas">
            @if (Model.FirstButton is not null)
            {
                <partial name="Button" model="@Model.FirstButton" />
            }
            @if (Model.SecondButton is not null)
            {
                <partial name="Button" model="@Model.SecondButton" />
            }
        </div>
    </div>

    @if (Model.ReadMoreOption)
    {
        <div class="rich-text__button-wrapper">
            <partial name="Button" model="@Model.ReadMoreButton" />
            <partial name="Button" model="@Model.ReadLessButton" />
        </div>
    }
</div>
