@using DTNL.UmbracoCms.Web.Components
@using DTNL.UmbracoCms.Web.Helpers.Extensions
@model DTNL.UmbracoCms.Web.Components.HeroContent

<section class="c-hero-content @Model.ThemeCssClasses">
    <div class="hero-content__container">
        <div class="hero-content__breadcrumbs">
            <vc:breadcrumb />
        </div>
        <div class="hero-content__col-left">
            <h1>@Model.Title</h1>

            <p class="hero-content__subtitle" asp-if="@Model.SubTitle">@Model.SubTitle</p>

            <div class="hero-content__tags">
                @foreach (Tag tag in Model.Tags.EnsureNotNull())
                {
                    <partial name="Tag" model="@tag" />
                }
            </div>
        </div>
        <div class="hero-content__col-right">
            <div class="hero-content__description">@Html.Raw(Model.ShortDescription)</div>
            <div class="hero-content__ctas">
                @if (Model.PrimaryButton is not null)
                {
                    <partial name="Button" model="@Model.PrimaryButton"></partial>

                }
                @if (Model.SecondaryButton is not null)
                {
                    <partial name="Button" model="@Model.SecondaryButton"></partial>

                }
            </div>
        </div>

        @if (Model.ShowSearch)
        {
            <div class="hero-content__col-search">
                <vc:search/>
            </div>
        }
    </div>
</section>
