@inherits UmbracoViewPage
@inject NodeProvider NodeProvider

<!DOCTYPE html>

<html lang="@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName" dir="ltr" class="o-html @ViewBag.HtmlClass">
<head>
    <vc:meta-tags page="@Model" site-settings="@NodeProvider.SiteSettings" />
    <vc:structured-data home-page="@NodeProvider.HomePage" site-settings="@NodeProvider.SiteSettings" />
    <partial name="Stylesheets" />
    <partial name="Environment" />
    <partial name="Favicons" />

    <vc:cookie-version site-settings="@NodeProvider.SiteSettings" />
    @Html.Raw(NodeProvider.SiteSettings?.HeaderScripts)
</head>
<body>
        <vc:header home-page="@NodeProvider.HomePage" />
    <main id="content" role="main">

        <div class="container">
            @RenderBody()
        </div>

        <vc:cookie-bar site-settings="@NodeProvider.SiteSettings" />
    </main>

    <vc:footer site-settings="@NodeProvider.SiteSettings" />

    <script async src="/assets/js/main.js" asp-append-version="true"></script>
    @Html.Raw(NodeProvider.SiteSettings?.BodyScripts)
</body>
</html>
