@inherits UmbracoViewPage
@inject NodeProvider NodeProvider

<!DOCTYPE html>

<html lang="@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName" dir="ltr" class="o-html u-lang-default @ViewBag.HtmlClass @HeaderColorHelper.GetColor(Model) @ThemeHelper.GetCssClasses(Model)">
<head>
    <vc:meta-tags page="@Model" site-settings="@NodeProvider.SiteSettings" />
    <vc:structured-data home-page="@NodeProvider.HomePage" site-settings="@NodeProvider.SiteSettings" />
    <partial name="Stylesheets" />
    <partial name="Environment" />
    <partial name="Favicons" />

    <vc:cookie-version site-settings="@NodeProvider.SiteSettings" />
    @Html.Raw(NodeProvider.SiteSettings?.HeaderScripts)
</head>
<body>
    <partial name="CarouselIndicator" />

    <vc:header />

    <vc:mobile-floating-button page="@Model"/>

    <main id="content" role="main">
        
        <vc:hero page="@Model" />
        <div class="page__content" id="main-content" js-hook-inview>
            <div class="page__content-items">
                @RenderBody()
            </div>
        </div>
    </main>
    @* <vc:cookie-bar site-settings="@NodeProvider.SiteSettings" /> *@

    <vc:footer site-settings="@NodeProvider.SiteSettings" page="@Model" />

    <script async src="/assets/js/main.js" asp-append-version="true"></script>
    @Html.Raw(NodeProvider.SiteSettings?.BodyScripts)
</body>
</html>
