@inherits UmbracoViewPage
@inject NodeProvider NodeProvider

<!DOCTYPE html>

<html lang="@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName" dir="ltr" class="o-html @ViewBag.HtmlClass @ThemeHelper.GetCssClasses(Model)">
<head>
    <vc:meta-tags page="@Model" site-settings="@NodeProvider.SiteSettings" />
    <vc:structured-data home-page="@NodeProvider.HomePage" site-settings="@NodeProvider.SiteSettings" />
    <partial name="Stylesheets" />
    <partial name="Environment" />
    <partial name="Favicons" />

    <vc:cookie-version site-settings="@NodeProvider.SiteSettings" />
    @Html.Raw(NodeProvider.SiteSettings?.HeaderScripts)
</head>
<body>
    <vc:header home-page="@NodeProvider.HomePage" />

    <main id="content" role="main">
        
        <vc:hero page="@(Model as ICompositionBasePage)" />

        <div class="page__content" id="main-content" js-hook-inview>
            @RenderBody()
        </div>
    </main>

    <vc:footer site-settings="@NodeProvider.SiteSettings" page="@Model as ICompositionBasePage" />

    <script async src="/assets/js/main.js" asp-append-version="true"></script>
    @Html.Raw(NodeProvider.SiteSettings?.BodyScripts)
</body>
</html>
