@using DTNL.UmbracoCms.Web.Components;
@using static DTNL.UmbracoCms.Web.Components.Navigation

<div class="c-flyout" js-hook-flyout aria-hidden="true" id="flyout-@Model?.Id">
    <div class="flyout__container">
        <div class="flyout__content">
            <div class="flyout__title-column">
                <h2 class="flyout__title">@Model?.Title</h2>
                <p class="flyout__description">@Model?.Description</p>
                <a class="flyout__cta" href="@Model?.Link.Url">@Model?.Title</a>
            </div>

            <ul class="flyout__main-item-list">
                @for (var i = 0; i < @Model?.Submenu.Items.Count; i++)
                {
                    var item = Model.Submenu.Items[i];
                    <li class="flyout__main-item @(i == 0 ? "is--open" : "")" js-hook-flyout-main-item>
                        <button class="flyout__main-item-button" title="@item.Title" js-hook-flyout-main-item-anchor aria-expanded="false" aria-controls="flyout-list-(@item.Id)-(i)">
                            @item.Title
                            <div class="flyout__main-item-button-icon">
                                <svg src="@(SvgAliases.Icons.ChevronRight)" />
                            </div>
                        </button>

                        @if (item.NestedSubmenu is not null)
                        {
                            <ul class="flyout__subitem-list" id="flyout-list-(@item.Id)-(i)">
                                @foreach (MenuItem subLink in item.NestedSubmenu.Links)
                                {
                                    <li class="flyout__subitem">
                                        <a class="flyout__subitem-anchor" title="@subLink?.Link?.Label" href="@subLink?.Link?.Url">
                                            @subLink?.Link?.Label
                                        </a>
                                    </li>
                                }

                                @if (item.All != null)
                                {
                                    <li>
                                        <a class="flyout__subitem-all" href="@item.All.Url">All @item.All.Label</a>
                                    </li>
                                }
                            </ul>
                        }                       
                    </li>
                }
            </ul>

            @if(Model?.PromoBlock != null)
            {
                <div class="flyout__feature-column">
                    <partial name="CardImage" model="@(Model?.PromoBlock)" />
                </div>
            }
        </div>
    </div>
</div>
