@using DTNL.UmbracoCms.Web.Components;

<div class="c-navigation-mobile-list">
    @if (Model.Header != null) {
        <button class="navigation-mobile-list__anchor navigation-mobile-list__anchor--parent" aria-controls="@(Model.Header.Id == null ? "" : $"{Model.Header.Id}")">
            <svg src="@(SvgAliases.Icons.ChevronLeft)" />
            @Model.Header.Title
        </button>
    }
  
    <ul class="navigation-mobile-list__list">
        @foreach (Components.Navigation.MenuItem item in Model.Items)
        {
            <li class="navigation-mobile-list__item">                
                @if(item?.Submenu?.Items != null || item?.NestedSubmenu?.Links != null)
                {
                    <button class="navigation-mobile-list__anchor @(Model?.Parent != null ? "navigation-mobile-list__anchor--small" : "navigation-mobile-list__anchor--main")"
                            aria-controls="navigation-mobile-@(Model?.Parent != null ? $"{Model.Parent?.Id}-{item?.Id}" : $"{item?.Id}")">
                        @item?.Title
                        @if (item?.Submenu?.Items.Count() > 0 || item?.NestedSubmenu?.Links.Count() > 0)
                        {
                            <svg src="@(SvgAliases.Icons.ChevronRight)" />
                        }
                        
                    </button>
                } else
                {
                    <a title="@item?.Link?.Label" href="@item?.Link?.Url" class="navigation-mobile-list__anchor @(item?.Parent != null ? "navigation-mobile-list__anchor--main" : "navigation-mobile-list__anchor--small")">
                        @item?.Link?.Label
                    </a>
                }
            </li>
        }

        @if (Model?.AllLink != null) {
            <li>
                <a class="navigation-mobile-list__anchor navigation-mobile-list__anchor--all" href="@Model.AllLink.Url">All @Model?.AllLink?.Label</a>
            </li>
        }
    </ul>
</div>
