@using DTNL.UmbracoCms.Web.Components
@using DTNL.UmbracoCms.Web.Components.Navigation
@using static DTNL.UmbracoCms.Web.Components.NavigationDesktop

@model DTNL.UmbracoCms.Web.Components.Header

<header class="c-header" js-hook-header>
    <div class="header__container">
        <div class="header__content">
            @* <!-- Todo: add title from Dictionary - Localised --> *@
            <a href="/" class="header__logo" title="Logo">
                <svg src="@(SvgAliases.Brand.LogoColor)" />
            </a>

            @* <!-- Todo: add title from Dictionary - Localised --> *@
            @* <partial name="Button" model="@(new Button {
                Element = "button",
                Label = "Menu",
                Icon = SvgAliases.Icons.Menu,
                Class = "header__hamburger",
                Controls = "navigation-mobile",
                Attributes =  { ["aria-label"] = "Open Menu" },
                Hook = "js-hook-header-hamburger"
                })" /> *@

            <button js-hook-header-hamburger
                    class="header__hamburger"
                    aria-controls="navigation-mobile"
                    aria-label="Open Menu">
                <svg src="@(SvgAliases.Icons.Menu)" />
                Menu
            </button>

            <div class="header__navigation">
                <partial name="NavigationDesktop" model="@(NavigationDesktop.Create(Model.Navigation))" />
            
            </div>

            <div class="header__language-selector">
                @* <!-- Todo: language selector --> *@
            </div>
        </div>
    </div>
</header>

<div>
    <partial name="NavigationMobile" model="@(NavigationMobile.Create(Model.Navigation))" />
</div>

