@using DTNL.UmbracoCms.Web.Helpers.Aliases
@model DTNL.UmbracoCms.Web.Components.EventDetails

<div class="c-media-section">

<partial name="Image" model="@(Model.Image)" />
</div>

<div class="c-event-detail t-light-grey" js-hook-event-detail>
    <div class="event-detail__container">
        <div class="event-detail__content">
            <h2 class="event-detail__title">@Model.Title</h2>

            <div class="event-detail__details">
                <div class="event-detail__col event-detail__col--col1">
                    @Html.Raw(Model.Location)
                </div>
                <div class="event-detail__col event-detail__col--col2">
                    @Html.Raw(Model.Time)
                </div>
                <div class="event-detail__col event-detail__col--cta">
                    <partial name="Button" model="@Model.Link" />
                </div>
            </div>
        </div>
    </div>
</div>
