@using DTNL.UmbracoCms.Web.Components
@model DTNL.UmbracoCms.Web.Components.StackingCards;

<div class="c-stacking-cards" js-hook-stacking-cards>

    <div class="stacking-cards__container">
        <div class="stacking-cards__content" js-hook-stacking-cards-content>
            <h2 class="stacking-cards__title" js-hook-stacking-cards-title>@Model.Title</h2>
            <p class="stacking-cards__description" asp-if="@Model.Description" js-hook-stacking-cards-description>@Model.Description</p>
        </div>

        <div class="stacking-cards__cards">
            @for (int index = 0; index < Model.Cards.Count(); index++)
            {
                string themeClass = index % 2 == 0 ? Model.ThemeOdd : Model.ThemeEven;
                StackingCardItem card = Model.Cards[index];

                <div class="stacking-cards__card" js-hook-stacking-cards-card>
                    <div class="stacking-cards__card-container @themeClass">
                        <div class="stacking-cards__card-content">
                            <h3 class="stacking-cards__card-title">@card.Title</h3>
                            <p class="stacking-cards__card-description">@card.Description</p>
                        </div>
                        <div class="stacking-cards__card-image">
                            @if (card.Image != null)
                            {
                                <partial name="Image" model="@(card.Image)" />
                            }
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>


</div>
