@using DTNL.UmbracoCms.Web.Components
@using DTNL.UmbracoCms.Web.Helpers.Aliases
@model DTNL.UmbracoCms.Web.Components.Breadcrumb

@if (!Model.Pages.Any()) { return; }

<div class="c-breadcrumb breadcrumb--full">
    <span id="breadcrumb-label" class="u-sr-only" asp-translation="@TranslationAliases.Common.Breadcrumb.Label"></span>

    <ol class="breadcrumb__list" id="breadcrumb" aria-labelledby="breadcrumb-label" itemscope itemtype="http://schema.org/BreadcrumbList">

        @foreach ((Link? item, int pos) in Model.Pages.Select((item, pos) => (item, pos + 1)))
        {
            bool isLastItem = (pos == Model.Pages.Count);
            <li class="breadcrumb__list-item @(isLastItem ? "breadcrumb__list-item--current" : null)" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">

                <span class="breadcrumb__icon-back">
                    <svg src="@SvgAliases.Icons.ArrowLeft" />
                </span>

                <a class="breadcrumb__item" itemprop="item" href="@item.Url" title="@item.Label">
                    <span itemprop="name">
                        @item.Label
                    </span>
                </a>

                <meta itemprop="position" content="@pos">

                <span class="breadcrumb__icon-next">
                    <svg src="@SvgAliases.Icons.ChevronRight" />
                </span>
            </li>
        }
    </ol>
</div>
